/*!
 * select.less
 *
 * Copyright 2016 Achraf Chouk
 * Achraf Chouk (https://github.com/crewstyle)
 */.olh-field-content select{max-width:100%;width:546px}.olh-field-content select[multiple] option:checked{background-color:rgba(18,151,224,.25)}.olh-field-content .selectize-dropdown.single{background:#fff;border:1px solid #ccc;box-shadow:none;margin-top:-3px;max-width:100%}.olh-field-content .selectize-dropdown .active{background-color:rgba(18,151,224,.25)}.olh-field-content .selectize-control.single .selectize-input{background:#fff;border:1px solid #ccc;box-shadow:none}